@model Internet_Library_System.Models.Books

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Books</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Author)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Author)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.YearOfPublication)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.YearOfPublication)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumberInStock)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumberInStock)
        </dd>
    </dl>
</div>
<div>
    <button type="button" class="btn btn-light bg-dark"><a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <button type="button" class="btn btn-light bg-dark"><a asp-action="Index">Back to List</a>
</div>
